 <div class="navbar-wrapper">
    <nav class="navbar navbar-default navbar-fixed-top" role="navigation" id="header" style="    background-color: #222;
    padding-top: 0px;    padding: 1px 0;" >
        <div class="container">
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
                <ul class="nav navbar-nav navbar-right">
                    <li><a  class="page-scroll" routerLink="/" href="#page-top" simplePageScroll>Home</a></li>
                    <li><a  class="page-scroll" routerLink="/" href="#feature" simplePageScroll> APP FEATURES </a></li>
                    <li><a simplePageScroll class="page-scroll" routerLink="/" href="#mapG">FIND DESTINATION</a></li>
                    <li>
                        <a simplePageScroll class="page-scroll" routerLink="/" href="#page-top" style="padding-top:0px !important; padding-bottom:0px !important;">
                            <img src="img/logos/golfski.png" width="70">
                        </a>
                    
                    <li><a simplePageScroll class="page-scroll" routerLink="/" href="#movie">WATCH MOVIE</a></li>
                    <li><a simplePageScroll class="page-scroll" routerLink="/" href="#buyandsell">BUY & SELL</a></li>
                    <li><a simplePageScroll class="page-scroll" routerLink="/awards">AWARDS INFO</a></li>
                </ul>
            </div>
        </div>
        
    </nav>
  