


<div class="col-lg-12">
                <div class="wrapper wrapper-content animated fadeInRight" >
                    <!--<div class="row" *ngIf="(i)%4==0">-->
                        <div class="col-md-3" *ngFor="let deal of dealsList; let i=index; ">
                            <div class="ibox" *ngIf="i<8">
                                <div class="ibox-content product-box">

                                    <div class="product-imitation" style="padding:0">
                                        <img style="width:100%" src="{{deal.thumbnail}}">
                                    </div>
                                    <div class="product-desc">
                                        <span class="product-price">
                                    {{deal.currency + deal.price}}
                                </span>
                                        <small class="text-muted">{{ deal.limited_id }}</small>
                                        <a href="#" class="product-name"> {{ deal.name }}</a>



                                        <div class="small m-t-xs">
                                            {{ deal.description }}  
                                        </div>
                                        <div class="m-t text-righ">

                                            <a href="#" class="btn btn-xs btn-outline btn-primary">Info <i class="fa fa-long-arrow-right"></i> </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--   </div>-->
                  <!--  <div class="row">
                        <div class="col-md-3">
                            <div class="ibox">
                                <div class="ibox-content product-box">

                                    <div class="product-imitation">
                                        [ INFO ]
                                    </div>
                                    <div class="product-desc">
                                        <span class="product-price">
                                    $10
                                </span>
                                        <small class="text-muted">Category</small>
                                        <a href="#" class="product-name"> Product</a>



                                        <div class="small m-t-xs">
                                            Many desktop publishing packages and web page editors now.
                                        </div>
                                        <div class="m-t text-righ">

                                            <a href="#" class="btn btn-xs btn-outline btn-primary">Info <i class="fa fa-long-arrow-right"></i> </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                      

                    </div>
                    <div class="row">
                        <div class="col-md-3">
                            <div class="ibox">
                                <div class="ibox-content product-box">

                                    <div class="product-imitation">
                                        [ INFO ]
                                    </div>
                                    <div class="product-desc">
                                        <span class="product-price">
                                    $10
                                </span>
                                        <small class="text-muted">Category</small>
                                        <a href="#" class="product-name"> Product</a>



                                        <div class="small m-t-xs">
                                            Many desktop publishing packages and web page editors now.
                                        </div>
                                        <div class="m-t text-righ">

                                            <a href="#" class="btn btn-xs btn-outline btn-primary">Info <i class="fa fa-long-arrow-right"></i> </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        

                    </div>-->
                </div>
            </div>