
 
 <div ui-view class="ng-scope">

<div id="inSlider" class="carousel slide carousel-fade" data-ride="carousel" ng-non-bindable>
    <ol class="carousel-indicators">
        <li data-target="#inSlider" data-slide-to="0" class="active"></li>
        <li data-target="#inSlider" data-slide-to="1"></li>
        <li data-target="#inSlider" data-slide-to="2"></li>
        <li data-target="#inSlider" data-slide-to="3"></li>
        <li data-target="#inSlider" data-slide-to="4"></li>
    </ol>
    <div class="carousel-inner" role="listbox">
        <div class="item active">
            <div class="container">
                <div class="carousel-caption" style=" left: 12%;  top: 110px;">
                    <h1 class="animated fadeInDown delay-07s">World of Destinations</h1>
                    <ul class="we-create animated fadeInUp delay-1s">Find The Best Deal. Great Escape. Ultimate Adventure</ul>

                    <a href="https://itunes.apple.com/app/apple-store/id477967747?mt=8">
                        <img src="img/iPhone_app.png" width="145" height="40" alt="Go to Google Play" />
                    </a>
                    <a href="https://play.google.com/store/apps/details?id=com.fishbrain.app">
                        <img src="img/Android_app.png" width="145" height="40" alt="Go to Google Play" />
                    </a>
                </div>
                <div class="carousel-caption"  style=" left: -44%;    top: 110px;">
                   
                    <a href="https://itunes.apple.com/app/apple-store/id477967747?mt=8">
                        <img src="img/SkiMobile.png"   width=200px  height=400px alt="Go to Google Play" />
                    </a>
                    
                </div>
            </div>
            <div class="header-back" style="background: url('img/SkiSlide.jpg') 50% 0 no-repeat;"></div>
        </div>
        <div class="item">
            <div class="container">
                  <div class="carousel-caption" style=" left: 12%;  top: 110px;">
                    <h1 class="animated fadeInDown delay-07s">World of Destinations</h1>
                    <ul class="we-create animated fadeInUp delay-1s">Find The Best Deal. Great Escape. Ultimate Adventure</ul>

                    <a href="https://itunes.apple.com/app/apple-store/id477967747?mt=8">
                        <img src="img/iPhone_app.png" width="145" height="40" alt="Go to Google Play" />
                    </a>
                    <a href="https://play.google.com/store/apps/details?id=com.fishbrain.app">
                        <img src="img/Android_app.png" width="145" height="40" alt="Go to Google Play" />
                    </a>
                </div>
                <div class="carousel-caption"  style=" left: -44%;    top: 110px;">
                   
                    <a href="https://itunes.apple.com/app/apple-store/id477967747?mt=8">
                        <img src="img/GolfMobile.png"   width=200px  height=400px alt="Go to Google Play" />
                    </a>
                    
                </div>
            </div>
            <!-- Set background for slide in css -->
            <div class="header-back" style="background: url('img/GolfSlide.jpg') 50% 0 no-repeat;"></div>
        </div>
        <div class="item">
            <div class="container">
                   <div class="carousel-caption" style=" left: 12%;  top: 110px;">
                    <h1 class="animated fadeInDown delay-07s">World of Destinations</h1>
                    <ul class="we-create animated fadeInUp delay-1s">Find The Best Deal. Great Escape. Ultimate Adventure</ul>

                    <a href="https://itunes.apple.com/app/apple-store/id477967747?mt=8">
                        <img src="img/iPhone_app.png" width="145" height="40" alt="Go to Google Play" />
                    </a>
                    <a href="https://play.google.com/store/apps/details?id=com.fishbrain.app">
                        <img src="img/Android_app.png" width="145" height="40" alt="Go to Google Play" />
                    </a>
                </div>
                <div class="carousel-caption"  style=" left: -44%;    top: 110px;">
                   
                    <a href="https://itunes.apple.com/app/apple-store/id477967747?mt=8">
                        <img src="img/Mobile3.png"   width=200px  height=400px alt="Go to Google Play" />
                    </a>
                    
                </div>
            </div>
            <!-- Set background for slide in css -->
            <div class="header-back" style="background: url('img/Slide3.jpg') 50% 0 no-repeat;"></div>
        </div>
        <div class="item">
            <div class="container">
                 <div class="carousel-caption" style=" left: 12%;  top: 110px;">
                    <h1 class="animated fadeInDown delay-07s">World of Destinations</h1>
                    <ul class="we-create animated fadeInUp delay-1s">Find The Best Deal. Great Escape. Ultimate Adventure</ul>

                    <a href="https://itunes.apple.com/app/apple-store/id477967747?mt=8">
                        <img src="img/iPhone_app.png" width="145" height="40" alt="Go to Google Play" />
                    </a>
                    <a href="https://play.google.com/store/apps/details?id=com.fishbrain.app">
                        <img src="img/Android_app.png" width="145" height="40" alt="Go to Google Play" />
                    </a>
                </div>
                <div class="carousel-caption"  style=" left: -44%;    top: 110px;">
                   
                    <a href="https://itunes.apple.com/app/apple-store/id477967747?mt=8">
                        <img src="img/Mobile4.png"   width=200px  height=400px alt="Go to Google Play" />
                    </a>
                    
                </div>
            </div>
            <!-- Set background for slide in css -->
            <div class="header-back" style="background: url('img/Slide4.jpg') 50% 0 no-repeat;"></div>
        </div>
  
    </div>
    <a class="left carousel-control" data-target="#inSlider" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" data-target="#inSlider" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</div>

<section id="feature" class="bg-light-gray">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">APP FEATURES</h2>
                <h3 class="section-heading">We are creating the most futurized web and mobile platform solutions by stretching the boundaries</h3>
                <p class="section-text">We develop and support standard and customized web solutions for our customers,design and build both iOS and Android mobile apps based on customers requirements and needs. </p>
            </div>
        </div>
        <div class="row" style="margin-top:40px;">
            <div class="col-lg-4 text-center"><img src="img/phone1.png" class="phone" width="100%">
                <h2 class="phone-head">Google Maps</h2>
                <p class="phone-text">Google Map v3 features provide you with wide range of services to find your dream destination for the next adventure!</p>
            </div>
            <div class="col-lg-4 text-center"><img src="img/phone.png" class="phone" width="100%">
                <h2 class="phone-head">Google Maps</h2>
                <p class="phone-text">Google Map v3 features provide you with wide range of services to find your dream destination for the next adventure!</p>
            </div>
            <div class="col-lg-4 text-center"><img src="img/phone1.png" class="phone" width="100%">
                <h2 class="phone-head">Google Maps</h2>
                <p class="phone-text">Google Map v3 features provide you with wide range of services to find your dream destination for the next adventure!</p>
            </div>
        </div>
    </div>
</section>

<section id="mapG" ng-controller="GoogleMaps">
    <h2 class="section-heading">Find Destination</h2>
    <div class="container">
    <googleMap></googleMap>
    </div>
</section>
<section id="movie">
    <div class="container" ng-controller="MovieCtrl">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">WATCH MOVIE</h2>
            </div>
        </div>
        <div class="row">
           <movies></movies>
        </div>
    </div>
</section>
<section id="buyandsell">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">LAST MINUTES</h2>
            </div>
        </div>
        <div class="row">
            <deals></deals>
        </div>
    </div>
</section>

<section id="awardinfo">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">AWARD INFORMATION</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-10 col-lg-offset-1">

            </div>
        </div>
    </div>
</section>


<script>

</script>