<footer>
    <div class="container ">
        <div class="row ">
            <div class="col-md-4 ">
                <span class="copyright " style="font-size:10px; color:#b3b3b3; ">Copyright © 2016 | GOLFSKIWORLD® All rights reserved.</span>
            </div>
            <div class="col-md-4 ">
                <ul class="list-inline social-buttons ">
                    <li><a href="# "><i class="fa fa-twitter "></i></a>
                    </li>
                    <li><a href="# "><i class="fa fa-facebook "></i></a>
                    </li>
                    <li><a href="# "><i class="fa fa-linkedin "></i></a>
                    </li>
                </ul>
            </div>
            <div class="col-md-4 links ">
                <ul class="list-inline quicklinks ">
                    <li><a href="# " style="color:#b3b3b3; font-size:11px; ">Privacy Policy</a>
                    </li>
                    <li><a href="# " style="color:#b3b3b3; font-size:11px; ">Terms of Use</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</footer>